<head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .card img {
    width: 350px;
    height: 350px;
  }
  </style>
</head>
<body>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assetsslide_1.png" alt="Porter" width="1200" height="500">
    </div>
    <div class="carousel-item">
      <img src="/assetsslide_2.png" alt="Porter" width="1200" height="500">
    </div>
    <div class="carousel-item">
      <img src="/assetsslide_3.png" alt="Porter" width="1200" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>




<h2>All Products</h2>
<div class="container">
    <div class="card-columns">
        <% @products.each do |product| %>
            <div class="card" style="width:600px, padding = 30px">
                <div class="feature-image card-img-top rounded">
                  <%= image_tag(product.image_url, :size => "340x340") if product.image%>
                </div>
                <div class="card-body">
                    <h1 class="card-title"><%= product.name %></h1>
                    <h3 class="card-text"><%= product.brand %></h3>
                    <h2 class="card-text">$<%= product.price %></h2>
                    <p class="card-text"><%= product.color %></p>
                    <% if signed_in? %>
                        <a href="/stores/<%= product.id %>" class="btn btn-warning"> <%="Buy #{product.name}" %>  </a>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
