<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @product.name %> <%= @product.category %></em></h2>

<div class="container">
    <div class="card-group">
            <div class="card" style="width:600px, padding = 50px">
                <div class="feature-image card-img-top rounded">
                  <%= image_tag(@product.image_url, :size => "530x530") if @product.image%>
                </div>
                <div class="card-body">
                    <h1 class="card-title"><%= @product.name %></h1>
                    <h3 class="card-text"><%= @product.brand %></h3>
                    <h2 class="card-text">$<%= @product.price %></h2>
                    <p class="card-text"><%= @product.color %></p>
                </div>
            </div>
            <div class="card" style="width:600px, padding = 50px">
                <div class="card-body">
                    <h3>Description:</h3>
                    <ul id="details">
                      <li>
                        id:
                        <%= @product.id %>
                      </li>
                        
                      <li>
                        Brand:
                        <%= @product.brand %>
                      </li>
                        
                        
                      <li>
                        Price:
                        $ <%= @product.price %>
                      </li>

                        
                      <li>
                        Discount Price:
                        $ <%= @product.price * @product.discount %>
                      </li>
                        
                      <li>
                        Weight:
                        <%= @product.weight%> lbs
                      </li>
                        
                      <li>
                        Color:
                        <%= @product.color%>
                      </li>

                      <li>
                        Box size:
                       <%= @product.box %>
                      </li>
                    </ul>
                </div>
                <div style="padding: 35px;">
                  <%= form_tag carts_path, :class => 'form', :enctype => 'multipart/form-data' do%>
                    <%= hidden_field_tag :product_id, value = @product.id %>
                    <%= hidden_field_tag :user_id, value = current_user.id %>
                    <%= hidden_field_tag :amount, value = 1 %>
                    <br><br/>
                    <%= link_to 'Add to Cart', carts_path, :class => 'btn btn-danger' %>
                    <a href="/stores/" class="btn btn-warning"> Back to Products </a>
                  <% end %>
                </div>
            </div>
    </div>
</div>






  

