<title>show cart</title>
<h2>Products in cart</h2>

<table class="table table-striped col-md-12" id="products">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Color</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @res.each do |product| %>
      <tr>
        <td>
          <%= product[0].name %>
        </td>
        <td>
          <%= product[0].brand %>
        </td>
        <td>
          <%= product[0].price %>
        </td>
        <td>
          <%= product[0].color %>
        </td>
        <td>
          <%= product[1] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path, :class => 'btn btn-secondary' %>
<%= link_to 'Confirm Order', root_path, :class => 'btn btn-warning' %>