<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @product.name %> <%= @product.category %></em></h2>

<ul id="details">
    
  <li>
    image:
    <%= image_tag @product.image_url if @product.image %>


  </li>

  <li>
    id:
    <%= @product.id %>
  </li>
    
  <li>
    Brand:
    <%= @product.brand %>
  </li>
    
    
  <li>
    Price:
    $ <%= @product.price %>
  </li>

  <li>
    Discount:
    <%= @product.discount %>
    as <%= (1 - @product.discount).round(2)*100 %>% off
  </li>
    
    
  <li>
    Discount Price:
    $ <%= @product.price * @product.discount %>
  </li>
    
  <li>
    Weight:
    <%= @product.weight%> lbs
  </li>
    
  <li>
    Color:
    <%= @product.color%>
  </li>

  <li>
    Added date:
    <%= @product.created_at.strftime("%B %d, %Y") %>
  </li>
    
  <li>
    Updated date:
    <%= @product.updated_at.strftime("%B %d, %Y") %>
  </li>
</ul>

<h3>Description:</h3>
<p id="packaging box size">
  <%= @product.box %>
</p>

<div class="row">
  <%= link_to 'Edit', edit_product_path(@product), :class => 'btn btn-warning col-2' %>
  <p style="padding: 7px;"></p>  
  <%= link_to 'Delete', product_path(@product), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
  <p style="padding: 7px;"></p>
  <%= link_to 'Back', root_path, :class => 'btn btn-warning' %>
</div>




‍