<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title>Porter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section>
        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>
    </section>
      
    <%# These classes come from the Bootstrap CSS framework. %>

          
    <nav class="navbar navbar-expand-lg bg-warning navbar-dark sticky-top">
      <ul class="navbar-nav">
        <h1 class="title is-5 text-dark">Porter </h1>
        <div class="container" align="center">
          <% if signed_in? %>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/">  Home  </a>
            </li>
            <% if Order.where(user_id: current_user.id) != []%>
              <li class="nav-item">
                <a class="nav-link text-dark" href="/orders">  My Order  </a>
              </li>
            <% end %>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/carts">  Cart  </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/users/<%= current_user.id %>/profile">  Profile  </a>
            </li>
          <% end %>
        </div>
      </ul>
    </nav>
    <div class="card " align = center>
        <% if signed_in? %>
            <strong>Signed in as: <%= current_user.email%></strong>                  
            <button type="button" class="btn btn-light" ><%= link_to 'Sign out', sign_out_path, method: :delete%></button>
        <% else %>
            <strong>Please sign in</strong> 
            <a href="/sign_in" class="btn btn-light"> sign in </a>
        <% end %>
    </div>
    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
